<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bodyguard (Healing)</key>
	<array>
		<array>
			<string>Hired Muscle
</string>
			<integer>3</integer>
			<string>hiredmuscle.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Med Tech
</string>
			<integer>2</integer>
			<string>medtech.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Rapid Scan by 0.25 and reduces the cooldown of Healing Scan by 1.5.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Rapid Scan by 0.5 and reduces the cooldown of Healing Scan by 3.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Improved Vents
</string>
			<integer>2</integer>
			<string>improvedvents.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Vent Heat now immediately vents an additional 8 heat.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Vent Heat now immediately vents an additional 16 heat.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Critical Reaction
</string>
			<integer>2</integer>
			<string>criticalreaction.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Critical results with damage and healing abilities have a 50% chance to grant Critical Reaction, increasing alacrity by 5% for 6.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Critical results with damage and healing abilities have a 100% chance to grant Critical Reaction, increasing alacrity by 5% for 12.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Supercharged Gas
</string>
			<integer>1</integer>
			<string>superchargedgas.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Cooldown: 1.5 seconds
</string>
					<string>Converts 30 charges of Combat Support Cylinder to supercharge your blasters, venting 16 heat and increasing all damage and healing dealt by 10% for 10. While active, the following abilities gain Supercharge effects:
Power Shot: Heat cost reduced by 17.
Unload: Heat cost reduced by 8.
Healing Scan: Cooldown reduced by 100%.
Kolto Missile: Places a shield on all targets, reducing damage taken by 10% for 15 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Surgical Precision System
</string>
			<integer>2</integer>
			<string>surgicalprecisionsystem.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 35% and reduces the threat generated by healing abilities by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 70% and reduces the threat generated by healing abilities by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Empowered Scans
</string>
			<integer>2</integer>
			<string>empoweredscans.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing done by Rapid Scan and Healing Scan by 3%. In addition, Rapid Scan builds 3 charges of Combat Support Cylinder.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing done by Rapid Scan and Healing Scan by 6%. In addition, Rapid Scan builds 6 charges of Combat Support Cylinder.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Power Shield
</string>
			<integer>1</integer>
			<string>powershield.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Energy Shield now further decreases ability activation pushback by 30% and makes you immune to interrupts.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Kolto Missile
</string>
			<integer>1</integer>
			<string>koltomissile.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Heat: 16, Cooldown: 6 seconds, Range: 30m
</string>
					<string>Heals up to 3 allies within 8 meters of the targeted area for ?.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Kolto Residue</string>
			<integer>2</integer>
			<string>koltoresidue.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Kolto Bomb has a 50% chance to leave Kolto Residue on affected targets, increasing all healing received by 5% for 15 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Kolto Bomb has a 50% chance to leave Kolto Residue on affected targets, increasing all healing received by 5% for 15 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Heat Damping
</string>
			<integer>1</integer>
			<string>heatdamping.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the heat cost of Jet Boost, Concussion Missile and Electro Dart by 8.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Protective Field
</string>
			<integer>2</integer>
			<string>protectivefield.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 10% while Energy Shield is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 20% while Energy Shield is active.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Critical Efficiency
</string>
			<integer>3</integer>
			<string>criticalefficiency.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Healing Scan has a 33.34% chance to reduce the heat cost of your next Rapid Scan by 16.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Healing Scan has a 66.68% chance to reduce the heat cost of your next Rapid Scan by 16.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Healing Scan has a 100.02% chance to reduce the heat cost of your next Rapid Scan by 16.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Powered Insulators
</string>
			<integer>2</integer>
			<string>poweredinsulators.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 2% while Combat Support Cylinder is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 4% while Combat Support Cylinder is active.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Cure Mind
</string>
			<integer>1</integer>
			<string>curemind.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the heat cost of Cure by 8. In addition, Cure now removes negative mental effects.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Kolto Shell
</string>
			<integer>1</integer>
			<string>koltoshell.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Range: 30m
</string>
					<string>Deploys a kolto shell around the target that has 10 charges and lasts 5 minutes. When damaged, the kolto shell loses 1 charge and heals the target for ?. This effect cannot occur more than once every 3 seconds. Only one Kolto Shell can be deployed at a time.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Proactive Medicine
</string>
			<integer>2</integer>
			<string>proactivemedicine.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Healing Scan has a 50% chance to apply Proactive Medicine to the target, healing for an additional 9 over ?.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Healing Scan has a 100% chance to apply Proactive Medicine to the target, healing for an additional 18 over ?.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Reactive Armor
</string>
			<integer>1</integer>
			<string>reactivearmor.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Proactive Medicine now also provides 10% armor while active.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Warden</string>
			<integer>5</integer>
			<string>warden.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of all heals by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of all heals by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of all heals by 9%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of all heals by 12%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of all heals by 15%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Emergency Scan
</string>
			<integer>1</integer>
			<string>emergencyscan.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Cooldown: 21 seconds, Range: 30m
</string>
					<string>Instantly heals a friendly target for 234 - 401.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Arsenal (Damage)</key>
	<array>
		<array>
			<string>Ironsights</string>
			<integer>3</integer>
			<string>ironsights.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Aim by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Aim by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Aim by 9%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Integrated Systems
</string>
			<integer>2</integer>
			<string>integratedsystems.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases healing received by 1% and all healing done by ?%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases healing received by 2% and all healing done by ?%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Mandalorian Iron Warheads
</string>
			<integer>2</integer>
			<string>mandalorianironwarheads.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by all missiles and Power Shot by 3% and the healing dealt by Kolto Missile by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by all missiles and Power Shot by 6% and the healing dealt by Kolto Missile by 20%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Custom Enviro Suit
</string>
			<integer>2</integer>
			<string>customenvirosuit.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Endurance by 1% and all healing received by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Endurance by 2% and all healing received by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Upgraded Arsenal
</string>
			<integer>1</integer>
			<string>upgradedarsenal.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the effects of your gas cylinders while they are active:
Combustible Gas Cylinder: Increases tech critical hit chance by 3%.
High Velocity Gas Cylinder: Reduces the heat cost of Rail Shot by 8.
Combat Support Cylinder: Increases tech critical hit chance by ?%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Muzzle Fluting
</string>
			<integer>1</integer>
			<string>muzzlefluting.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the heat cost of Power Shot and Tracer Missile by 9.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Stabilizers
</string>
			<integer>3</integer>
			<string>stabilizers.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Power Shot, Concussion Missile, Tracer Missile and Unload by 25%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Power Shot, Concussion Missile, Tracer Missile and Unload by 50%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Power Shot, Concussion Missile, Tracer Missile and Unload by 75%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Target Tracking
</string>
			<integer>2</integer>
			<string>targettracking.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Unload and Heatseeker Missiles by 15%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Unload and Heatseeker Missiles by 30%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Tracer Missile
</string>
			<integer>1</integer>
			<string>tracermissile.png</string>
			<array>
				<array>
					<string>Instant
</string>
					<string>Heat: 25, Range: 30m
</string>
					<string>Launches a missile at the target that deals (current weapon) kinetic damage and applies a heat signature, reducing the armor rating by 4% for 15 seconds. Stacks up to 5 times. Heat signatures leave the target vulnerable to Rail Shot.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Afterburners</string>
			<integer>2</integer>
			<string>afterburners.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Rocket Punch has a 50% chance to knock the target back several meters. In addition, Jet Boost&apos;s knockback effect is stronger and pushes enemies 2 meters further away.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Rocket Punch has a 100% chance to knock the target back several meters. In addition, Jet Boost&apos;s knockback effect is stronger and pushes enemies 4 meters further away.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Power Barrier
</string>
			<integer>2</integer>
			<string>powerbarrier.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot and Tracer Missile have a 50% chance to generate a Power Barrier that reduces damage taken by 2% for ?. Stacks up to 5 times.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot and Tracer Missile have a 100% chance to generate a Power Barrier that reduces damage taken by 2% for ?. Stacks up to 5 times.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Terminal Velocity
</string>
			<integer>2</integer>
			<string>terminalvelocity.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>While High Velocity Gas Cylinder is active, critical hits with missiles and Unload have a 50% chance to vent 8 heat. This effect cannot occur more than once every 3 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>While High Velocity Gas Cylinder is active, critical hits with missiles and Unload have a 100% chance to vent 8 heat. This effect cannot occur more than once every 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Light &apos;Em Up
</string>
			<integer>1</integer>
			<string>lightemup.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Tracer Missile now applies an additional heat signature.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Jet Escape
</string>
			<integer>2</integer>
			<string>jetescape.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Jet Boost by 5 and Determination by 15.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Jet Boost by 10 and Determination by 30.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Kolto Vents
</string>
			<integer>1</integer>
			<string>koltovents.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Vent Heat regenerates 7% of your maximum health over 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Tracer Lock
</string>
			<integer>1</integer>
			<string>tracerlock.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Tracer Missile grants Target Lock, increasing the damage dealt by the next Rail Shot by 6%. Stacks up to 5 times.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Riddle
</string>
			<integer>1</integer>
			<string>riddle.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Unload by 33%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Pinning Fire
</string>
			<integer>2</integer>
			<string>pinningfire.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Unload has a 50% chance per hit to slow the target&apos;s movement by 50% for 2 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Unload has a 100% chance per hit to slow the target&apos;s movement by 50% for 2 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Power Overrides
</string>
			<integer>2</integer>
			<string>poweroverrides.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Concussion Missile by 7.5 seconds and Thermal Sensor Override by 15 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Concussion Missile by 15 seconds and Thermal Sensor Override by 30 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Barrage</string>
			<integer>3</integer>
			<string>barrage.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot and Tracer Missile have a 10% chance to finish the cooldown on Unload and increase the damage dealt by the next Unload by 25%. This effect cannot occur more than once every 6 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot and Tracer Missile have a 20% chance to finish the cooldown on Unload and increase the damage dealt by the next Unload by 25%. This effect cannot occur more than once every 6 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot and Tracer Missile have a 30% chance to finish the cooldown on Unload and increase the damage dealt by the next Unload by 25%. This effect cannot occur more than once every 6 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Heatseeker Missiles
</string>
			<integer>1</integer>
			<string>heatseekermissiles.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Heat: 16, Cooldown: 15 seconds, Range: 30m
</string>
					<string>Fires several missiles that deal (current weapon) kinetic damage. This damage is increased by 5% per heat signature on the target.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Pyrotech (Damage)</key>
	<array>
		<array>
			<string>Integrated Cardio Package
</string>
			<integer>3</integer>
			<string>integratedcardiopackage.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Endurance by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Endurance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases Endurance by 3%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>System Calibrations
</string>
			<integer>2</integer>
			<string>systemcalibrations.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 4%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Advanced Targeting
</string>
			<integer>3</integer>
			<string>advancedtargeting.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech accuracy by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech accuracy by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech accuracy by 3%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Gyroscopic Alignment Jets
</string>
			<integer>2</integer>
			<string>gyroscopicalignmentjets.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>You have a 50% chance to vent 8 heat when stunned, immobilized, knocked down or otherwise incapacitated.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>You have a 100% chance to vent 8 heat when stunned, immobilized, knocked down or otherwise incapacitated.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sweltering Heat
</string>
			<integer>2</integer>
			<string>swelteringheat.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Combustible Gas Cylinder has a 2% chance when it applies its effects to reduce the movement speed of the target by 50% for 50 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Combustible Gas Cylinder has a 4% chance when it applies its effects to reduce the movement speed of the target by 50% for 100 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Superheated Gas
</string>
			<integer>3</integer>
			<string>superheatedgas.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Combustible Gas Cylinder by 10% and its chance to be triggered by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Combustible Gas Cylinder by 20% and its chance to be triggered by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Combustible Gas Cylinder by 30% and its chance to be triggered by 6%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Infrared Sensors
</string>
			<integer>2</integer>
			<string>infraredsensors.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 1, melee and ranged defense by 2.5%, and reduces the cooldown of Stealth Scan by ? seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 2, melee and ranged defense by 5%, and reduces the cooldown of Stealth Scan by ? seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Incendiary Missile
</string>
			<integer>1</integer>
			<string>incendiarymissile.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Heat: 25, Range: 30m
</string>
					<string>Fires a missile that explodes on contact, igniting the target for (current weapon) elemental damage and an additional (current weapon) elemental damage over 18.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Superheated Rail
</string>
			<integer>2</integer>
			<string>superheatedrail.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Rail Shot ignores 50% of the target&apos;s armor. In addition, if Rail Shot hits a burning target, it has a 15% chance to vent 8 heat and refresh the duration of your Combustible Gas Cylinder&apos;s burn effect if present.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Rail Shot ignores 100% of the target&apos;s armor. In addition, if Rail Shot hits a burning target, it has a 30% chance to vent 8 heat and refresh the duration of your Combustible Gas Cylinder&apos;s burn effect if present.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Degauss</string>
			<integer>2</integer>
			<string>degauss.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Energy Shield has a 50% chance to remove all movement-impairing effects when activated.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Energy Shield has a 100% chance to remove all movement-impairing effects when activated.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Prototype Particle Accelerator
</string>
			<integer>3</integer>
			<string>prototypeparticleaccelerator.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot has a 10% chance and Unload has a 20% chance to finish the cooldown on Rail Shot and make the next Rail Shot free.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot has a 20% chance and Unload has a 40% chance to finish the cooldown on Rail Shot and make the next Rail Shot free.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Power Shot has a 30% chance and Unload has a 60% chance to finish the cooldown on Rail Shot and make the next Rail Shot free.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Rapid Venting
</string>
			<integer>2</integer>
			<string>rapidventing.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Vent Heat by 15.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Vent Heat by 30.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Firebug</string>
			<integer>2</integer>
			<string>firebug.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Combustible Gas Cylinder, Rail Shot, Incendiary Missile and Thermal Detonator by 15%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Combustible Gas Cylinder, Rail Shot, Incendiary Missile and Thermal Detonator by 30%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Rain of Fire
</string>
			<integer>3</integer>
			<string>rainoffire.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Rapid Shots, Power Shot, Rail Shot, Unload and Sweeping Blasters deal 3% additional damage to burning targets.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Rapid Shots, Power Shot, Rail Shot, Unload and Sweeping Blasters deal 6% additional damage to burning targets.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Rapid Shots, Power Shot, Rail Shot, Unload and Sweeping Blasters deal 9% additional damage to burning targets.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Energy Rebounder
</string>
			<integer>2</integer>
			<string>energyrebounder.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When you take damage, you have 50% chance to reduce the active cooldown of Energy Shield by 1.5. This effect cannot occur more than once every 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you take damage, you have 100% chance to reduce the active cooldown of Energy Shield by 3. This effect cannot occur more than once every 1.5 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Burnout</string>
			<integer>3</integer>
			<string>burnout.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical hit chance by 1% and increases the damage dealt by periodic elemental effects by 10% on targets below 30% max health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical hit chance by 2% and increases the damage dealt by periodic elemental effects by 20% on targets below 30% max health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical hit chance by 3% and increases the damage dealt by periodic elemental effects by 30% on targets below 30% max health.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Automated Defenses
</string>
			<integer>2</integer>
			<string>automateddefenses.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Critical hits have a 50% chance to reduce the active cooldown on Kolto Overload and Thermal Sensor Override by 3. This effect cannot occur more than once every 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Critical hits have a 100% chance to reduce the active cooldown on Kolto Overload and Thermal Sensor Override by 6. This effect cannot occur more than once every 1.5 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Thermal Detonator
</string>
			<integer>1</integer>
			<string>thermaldetonator.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Heat: 16, Cooldown: 15 seconds, Range: 30m
</string>
					<string>Hurls a thermal detonator that adheres to the target and detonates after several seconds. Standard and weak enemies enter a state of panic while the explosive is active. The explosion deals (current weapon) kinetic damage when it detonates. Standard and weak targets are knocked back from the blast. Shares a 15-second cooldown with Explosive Dart.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
</dict>
</plist>
