<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medicine (Healing)</key>
	<array>
		<array>
			<string>Imperial Education
</string>
			<integer>3</integer>
			<string>imperialeducation.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Cunning by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Cunning by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Cunning by 9%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Precision Instruments
</string>
			<integer>2</integer>
			<string>precisioninstruments.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Corrosive Dart, Debilitate and Sever Tendon by 2.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Corrosive Dart, Debilitate and Sever Tendon by 4.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Incisive Action
</string>
			<integer>2</integer>
			<string>incisiveaction.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Kolto Injection by 0.25 seconds and gives Kolto Injection a 50% chance to grant Tactical Advantage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Kolto Injection by 0.5 seconds and gives Kolto Injection a 100% chance to grant Tactical Advantage.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Chem-resistant Inlays
</string>
			<integer>2</integer>
			<string>chemresistantinlays.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 4%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Surgical Steadiness
</string>
			<integer>2</integer>
			<string>surgicalsteadiness.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 35%, and reduces the threat generated by heals by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 70%, and reduces the threat generated by heals by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Medical Consult
</string>
			<integer>3</integer>
			<string>medicalconsult.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing dealt by 1% at all times and an additional 2% while Tactical Advantage is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing dealt by 2% at all times and an additional 4% while Tactical Advantage is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing dealt by 3% at all times and an additional 6% while Tactical Advantage is active.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Endorphin Rush
</string>
			<integer>2</integer>
			<string>endorphinrush.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Adrenaline Probe now immediately restores 8 additional energy.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Adrenaline Probe now immediately restores 16 additional energy.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sedatives
</string>
			<integer>2</integer>
			<string>sedatives.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When Sleep Dart wears off, the target is struck by Sedatives, reducing all damage dealt by 25% for the next 10 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When Sleep Dart wears off, the target is struck by Sedatives, reducing all damage dealt by 50% for the next 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Kolto Residue</string>
			<integer>1</integer>
			<string>koltoresidue.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 15, Range: 30m
</string>
					<string>Summons a droid that heals a friendly target for 18 over ? seconds. Stacks up to 2 times.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Prognosis: Critical
</string>
			<integer>2</integer>
			<string>prognosiscritical.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Diagnostic Scan by 12%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Diagnostic Scan by 24%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Evasive Imperative
</string>
			<integer>2</integer>
			<string>evasiveimperative.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Evasion increases movement speed by 10% while active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Evasion increases movement speed by 20% while active.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Medical Engineering
</string>
			<integer>3</integer>
			<string>medicalengineering.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Each tick of Kolto Probe has a 10% chance to grant Tactical Advantage. This effect cannot occur more than once every 9 seconds. Each rank beyond the first reduces this rate limit by 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Each tick of Kolto Probe has a 20% chance to grant Tactical Advantage. This effect cannot occur more than once every 9 seconds. Each rank beyond the first reduces this rate limit by 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Each tick of Kolto Probe has a 30% chance to grant Tactical Advantage. This effect cannot occur more than once every 9 seconds. Each rank beyond the first reduces this rate limit by 1.5 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Patient Studies
</string>
			<integer>2</integer>
			<string>patientstudies.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Diagnostic Scan criticals restore 1 energy.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Diagnostic Scan criticals restore 2 energy.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Surgical Precision
</string>
			<integer>1</integer>
			<string>surgicalprecision.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing dealt by Surgical Probe by 15%. In addition, Surgical Probe immediately re-grants Tactical Advantage when used on targets below 30% max health.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Surgical Probe
</string>
			<integer>1</integer>
			<string>surgicalprobe.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Range: 30m
</string>
					<string>Executes your Tactical Advantage to summon a probe that instantly heals the target ?. Requires and consumes Tactical Advantage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Medical Therapy
</string>
			<integer>2</integer>
			<string>medicaltherapy.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing dealt by periodic effects by 5% and Surgical Probe by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing dealt by periodic effects by 10% and Surgical Probe by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Tox Screen
</string>
			<integer>1</integer>
			<string>toxscreen.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Toxin Scan now removes negative mental effects and heals the target for ?.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Accomplished Doctor
</string>
			<integer>3</integer>
			<string>accomplisheddoctor.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of Kolto Injection, Kolto Infusion and Recuperative Nanotech by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of Kolto Injection, Kolto Infusion and Recuperative Nanotech by 20%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of Kolto Injection, Kolto Infusion and Recuperative Nanotech by 30%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Med Shield
</string>
			<integer>2</integer>
			<string>medshield.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 7.5% while Shield Probe is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 15% while Shield Probe is active.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Recuperative Nanotech
</string>
			<integer>1</integer>
			<string>recuperativenanotech.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 30, Cooldown: 12 seconds, Range: 30m
</string>
					<string>Heals up to 4 allies within 10 meters for 15 over ? seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Concealment (Damage)</key>
	<array>
		<array/>
		<array>
			<string>Survival Training
</string>
			<integer>3</integer>
			<string>survivaltraining.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing done by 1% and all healing received by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing done by 2% and all healing received by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing done by 3% and all healing received by 9%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Imperial Brew
</string>
			<integer>3</integer>
			<string>imperialbrew.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Corrosive Dart by 6% and Acid Blade by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Corrosive Dart by 12% and Acid Blade by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Corrosive Dart by 18% and Acid Blade by 9%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Concealed Attacks
</string>
			<integer>2</integer>
			<string>concealedattacks.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical hit chance of Backstab and Hidden Strike by 8%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical hit chance of Backstab and Hidden Strike by 16%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Scouting</string>
			<integer>2</integer>
			<string>scouting.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your stealth detection level by 1 and defense by ?%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your stealth detection level by 2 and defense by ?%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Inclement Conditioning
</string>
			<integer>3</integer>
			<string>inclementconditioning.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Endurance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Endurance by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Endurance by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Surgical Strikes
</string>
			<integer>2</integer>
			<string>surgicalstrikes.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Shiv, Overload Shot and Backstab by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Shiv, Overload Shot and Backstab by 4%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Infiltrator</string>
			<integer>3</integer>
			<string>infiltrator.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases movement speed by 1% and effective stealth level by 5.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases movement speed by 2% and effective stealth level by 10.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases movement speed by 3% and effective stealth level by 15.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Revitalizers
</string>
			<integer>1</integer>
			<string>revitalizers.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Stim Boost now additionally grants Revitalizers, restoring 2% of total health every 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Collateral Strike
</string>
			<integer>2</integer>
			<string>collateralstrike.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Laceration has a 25% chance to trigger a Collateral Strike, dealing (current weapon) additional kinetic damage. This effect cannot occur more than once every 10 seconds. Standard and weak targets are additionally stunned by Collateral Strike.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Laceration has a 50% chance to trigger a Collateral Strike, dealing (current weapon) additional kinetic damage. This effect cannot occur more than once every 10 seconds. Standard and weak targets are additionally stunned by Collateral Strike.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Laceration
</string>
			<integer>1</integer>
			<string>laceration.png</string>
			<array>
				<array>
					<string>Instant
</string>
					<string>Energy: 15, Range: 4m
</string>
					<string>Executes your Tactical Advantage, lacerating the target for (current weapon) kinetic damage. Requires and consumes Tactical Advantage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Waylay</string>
			<integer>1</integer>
			<string>waylay.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Backstab by 2 and Acid Blade by 10.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Tactical Opportunity
</string>
			<integer>2</integer>
			<string>tacticalopportunity.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Collateral Strike has a 50% chance to immediately re-grant Tactical Advantage when hitting a poisoned target.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Collateral Strike has a 100% chance to immediately re-grant Tactical Advantage when hitting a poisoned target.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Pin Down
</string>
			<integer>2</integer>
			<string>pindown.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Sever Tendon has a 50% chance to immobilize the target for 2 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Sever Tendon has a 100% chance to immobilize the target for 2 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Energy Screen
</string>
			<integer>1</integer>
			<string>energyscreen.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Dodging or resisting an attack restores 1 energy. In addition, Cloaking Screen no longer reduces healing dealt and received.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Advanced Cloaking
</string>
			<integer>2</integer>
			<string>advancedcloaking.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Cloaking Screen by 30 seconds, and activating Cloaking Screen increases movement speed by 25% for 6 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Cloaking Screen by 60 seconds, and activating Cloaking Screen increases movement speed by 50% for 6 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Culling</string>
			<integer>3</integer>
			<string>culling.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all damage dealt to poisoned targets by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all damage dealt to poisoned targets by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all damage dealt to poisoned targets by 3%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Jarring Strike
</string>
			<integer>2</integer>
			<string>jarringstrike.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Hidden Strike has a 50% chance to knock the target flat on its face for 3 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Hidden Strike has a 100% chance to knock the target flat on its face for 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Meticulously Kept Blades
</string>
			<integer>3</integer>
			<string>meticulouslykeptblades.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of energy recovered by each tick of Stim Boost by 0.5. Increases the critical damage dealt by Backstab, Sever Tendon, Hidden Strike and Acid Blade by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of energy recovered by each tick of Stim Boost by 1. Increases the critical damage dealt by Backstab, Sever Tendon, Hidden Strike and Acid Blade by 20%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of energy recovered by each tick of Stim Boost by 1.5. Increases the critical damage dealt by Backstab, Sever Tendon, Hidden Strike and Acid Blade by 30%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Acid Blade
</string>
			<integer>1</integer>
			<string>acidblade.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 15, Cooldown: 1.5 seconds
</string>
					<string>Coats your instruments in acid, causing your next Hidden Strike or Backstab to deal an additional (current weapon) internal damage over 6 seconds and increase armor penetration by 50% for 15 seconds. This ability does not respect the global cooldown and does not break stealth.</string>
				</array>
			</array>
		</array>
		<array/>
	</array>
	<key>Lethality (Damage)</key>
	<array>
		<array>
			<string>Razor Edge
</string>
			<integer>2</integer>
			<string>razoredge.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Shiv by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Shiv by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lethality</string>
			<integer>3</integer>
			<string>lethality.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Deadly Directive
</string>
			<integer>2</integer>
			<string>deadlydirective.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 4%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Lethal Injectors
</string>
			<integer>1</integer>
			<string>lethalinjectors.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Corrosive Dart by 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Corrosive Microbes
</string>
			<integer>2</integer>
			<string>corrosivemicrobes.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Corrosive Dart has a 12.5% chance to tick twice when it inflicts damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Corrosive Dart has a 25% chance to tick twice when it inflicts damage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Flash Powder
</string>
			<integer>2</integer>
			<string>flashpowder.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all targets&apos; accuracy by 10% for 8 seconds after Flash Bang ends.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all targets&apos; accuracy by 20% for 8 seconds after Flash Bang ends.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Slip Away
</string>
			<integer>2</integer>
			<string>slipaway.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Debilitate by 7.5 seconds, and increases movement speed by 15% for 4 seconds after activating Debilitate.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Debilitate by 15 seconds, and increases movement speed by 30% for 8 seconds after activating Debilitate.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Cut Down
</string>
			<integer>2</integer>
			<string>cutdown.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Overload Shot, Carbine Burst and Cull by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Overload Shot, Carbine Burst and Cull by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Combat Stims
</string>
			<integer>2</integer>
			<string>combatstims.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Stim Boost immediately restores 5 energy when activated. Additionally reduces the cooldown of Stim Boost by 7.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Stim Boost immediately restores 10 energy when activated. Additionally reduces the cooldown of Stim Boost by 15 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Corrosive Grenade
</string>
			<integer>1</integer>
			<string>corrosivegrenade.png</string>
			<array>
				<array>
					<string>Instant
</string>
					<string>Energy: 20, Cooldown: 12 seconds, Range: 30m
</string>
					<string>Hurls a corrosive grenade that spews acid in a 5-meter radius on impact, dealing (current weapon) internal damage over 21 seconds to up to 3 targets.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Lethal Dose
</string>
			<integer>3</integer>
			<string>lethaldose.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical hit chance of all periodic effects by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical hit chance of all periodic effects by 8%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical hit chance of all periodic effects by 12%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Vanish
</string>
			<integer>2</integer>
			<string>vanish.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Evasion by 7.5 seconds and Escape by 15 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Evasion by 15 seconds and Escape by 30 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Adhesive Corrosives
</string>
			<integer>2</integer>
			<string>adhesivecorrosives.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Corrosive Grenade has a 50% chance to reduce the movement speed of all targets by 30% for 6 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Corrosive Grenade has a 100% chance to reduce the movement speed of all targets by 30% for 6 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lethal Purpose
</string>
			<integer>2</integer>
			<string>lethalpurpose.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Adrenaline Probe by 15 seconds. In addition, critical hits with poison effects restore 1 energy.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Adrenaline Probe by 30 seconds. In addition, critical hits with poison effects restore 2 energy.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Counterstrike</string>
			<integer>2</integer>
			<string>counterstrike.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Countermeasures has a 50% chance to remove all movement-impairing effects when activated.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Countermeasures has a 100% chance to remove all movement-impairing effects when activated.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>License to Kill
</string>
			<integer>2</integer>
			<string>licensetokill.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Cull by 3.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Cull by 6.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Cull
</string>
			<integer>1</integer>
			<string>cull.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 25, Range: 10m
</string>
					<string>Executes your Tactical Advantage to fire a volley of corrosive shots, dealing (current weapon) weapon damage. For each of your poison effects present on the target, the target is culled for an additional (current weapon) internal damage. Requires and consumes Tactical Advantage.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Escape Plan
</string>
			<integer>2</integer>
			<string>escapeplan.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Shield Probe by 7.5 seconds and Infiltrate by 30 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Shield Probe by 15 seconds and Infiltrate by 60 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Devouring Microbes
</string>
			<integer>3</integer>
			<string>devouringmicrobes.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by poison effects by 5% on targets below 30% of max health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by poison effects by 10% on targets below 30% of max health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by poison effects by 15% on targets below 30% of max health.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Weakening Blast
</string>
			<integer>1</integer>
			<string>weakeningblast.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 10, Cooldown: 15 seconds, Range: 10m
</string>
					<string>Deals (current weapon) weapon damage and causes the target to take 30% additional damage from the Agent&apos;s next 10 poison effects. Lasts 15 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
	</array>
</dict>
</plist>
