<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Seer (Healing)</key>
	<array>
		<array/>
		<array>
			<string>Wisdom</string>
			<integer>2</integer>
			<string>wisdom.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Presence by 3% and all healing done by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Presence by 6% and all healing done by 2%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Penetrating Light
</string>
			<integer>3</integer>
			<string>penetratinglight.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the Force critical chance by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the Force critical chance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the Force critical chance by 3%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Immutable Force
</string>
			<integer>2</integer>
			<string>immutableforce.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Deliverance by 0.25 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Deliverance by 0.5 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Psychic Suffusion
</string>
			<integer>2</integer>
			<string>psychicsuffusion.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage and healing of area effect abilities by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage and healing of area effect abilities by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Pain Bearer
</string>
			<integer>2</integer>
			<string>painbearer.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 8%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Foresight</string>
			<integer>3</integer>
			<string>foresight.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 25% and lowers the threat generated by healing abilities by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 50% and lowers the threat generated by healing abilities by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 75% and lowers the threat generated by healing abilities by 15%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Preservation</string>
			<integer>2</integer>
			<string>preservation.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force Armor by 15 and reduces the cooldown of Force Armor by 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force Armor by 30 and reduces the cooldown of Force Armor by 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Valiance</string>
			<integer>2</integer>
			<string>valiance.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the health spent by Noble Sacrifice by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the health spent by Noble Sacrifice by 2%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Rejuvenate</string>
			<integer>1</integer>
			<string>rejuvenate.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 30, Cooldown: 6 seconds, Range: 30m
</string>
					<string>Immediately heals a target for a 9, plus an additional ? over ? seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Conveyance</string>
			<integer>2</integer>
			<string>conveyance.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Rejuvenate has a 50% chance to grant Conveyance, which increases the effect of your next healing ability:
Benevolence: Force cost reduced by 50%.
Deliverance: Activation time reduced by 1 second.
Healing Trance: Critical chance increased by 25%.
Salvation: Force cost reduced by 30%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Rejuvenate has a 100% chance to grant Conveyance, which increases the effect of your next healing ability:
Benevolence: Force cost reduced by 50%.
Deliverance: Activation time reduced by 1 second.
Healing Trance: Critical chance increased by 25%.
Salvation: Force cost reduced by 30%.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Egress</string>
			<integer>2</integer>
			<string>egress.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Force Armor increases the target&apos;s movement speed by 10% for 3 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Force Armor increases the target&apos;s movement speed by 20% for 6 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Force Shelter
</string>
			<integer>2</integer>
			<string>forceshelter.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Rejuvenate by 3 seconds. In addition, Rejuvenate has a 50% chance to apply the Force Shelter effect to its targets, increasing armor rating by 10% for the duration of Rejuvenate.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Rejuvenate by 6 seconds. In addition, Rejuvenate has a 100% chance to apply the Force Shelter effect to its targets, increasing armor rating by 10% for the duration of Rejuvenate.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Mend Wounds
</string>
			<integer>1</integer>
			<string>mendwounds.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the Force cost of Restoration by 15. In addition, Restoration now removes negative physical effects and heals the target for ?.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Serenity</string>
			<integer>2</integer>
			<string>serenity.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your Force critical hit chance by 1% and reduces all damage taken by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your Force critical hit chance by 2% and reduces all damage taken by 2%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Healing Trance
</string>
			<integer>1</integer>
			<string>healingtrance.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 40, Cooldown: 9 seconds, Range: 30m
</string>
					<string>Heals a target for ? immediately and a further ? per second for 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Confound</string>
			<integer>2</integer>
			<string>confound.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Targets affected by your Weaken Mind are slowed by 10% for its duration.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Targets affected by your Weaken Mind are slowed by 20% for its duration.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Clairvoyance</string>
			<integer>3</integer>
			<string>clairvoyance.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your bonus healing by 2% and chance to hit with all abilities by 1%
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your bonus healing by 4% and chance to hit with all abilities by 2%
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your bonus healing by 6% and chance to hit with all abilities by 3%
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Resplendence</string>
			<integer>2</integer>
			<string>resplendence.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Healing Trance critical hits have a ?% chance to make the next Noble Sacrifice activate without degenerating Force and without spending any health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Healing Trance critical hits have a ?% chance to make the next Noble Sacrifice activate without degenerating Force and without spending any health.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Salvation</string>
			<integer>1</integer>
			<string>salvation.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 100, Cooldown: 15 seconds, Range: 30m
</string>
					<string>Heals all allies within 8 meters of the targeted area. Targets remaining in the area heal for an additional ? over ? seconds.</string>
				</array>
			</array>
		</array>
		<array/>
	</array>
	<key>Telekinetics (Damage)</key>
	<array>
		<array>
			<string>Clamoring Force
</string>
			<integer>3</integer>
			<string>clamoringforce.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Disturbance, Mind Crush, Telekinetic Wave and Turbulence by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Disturbance, Mind Crush, Telekinetic Wave and Turbulence by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Disturbance, Mind Crush, Telekinetic Wave and Turbulence by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Mental Longevity
</string>
			<integer>2</integer>
			<string>mentallongevity.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your total Force by 50.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your total Force by 100.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Inner Strength
</string>
			<integer>3</integer>
			<string>innerstrength.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force attacks and healing abilities by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force attacks and healing abilities by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force attacks and healing abilities by 9%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Telekinetic Defense
</string>
			<integer>2</integer>
			<string>telekineticdefense.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount absorbed by your Force Armor by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount absorbed by your Force Armor by 20%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Concentration</string>
			<integer>2</integer>
			<string>concentration.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Disturbance, Telekinetic Wave and Turbulence by 35%. In addition, Disturbance has a 50% chance to increase your Force regeneration rate by 10% for 10 seconds. Stacks up to 3 times.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Disturbance, Telekinetic Wave and Turbulence by 70%. In addition, Disturbance has a 100% chance to increase your Force regeneration rate by 10% for 10 seconds. Stacks up to 3 times.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Disturb Mind
</string>
			<integer>2</integer>
			<string>disturbmind.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Weaken Mind by ? seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Weaken Mind by ? seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Mind&apos;s Eye
</string>
			<integer>1</integer>
			<string>mindseye.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the maximum range of Disturbance, Telekinetic Wave and Turbulence by 5 meters.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Force Wake
</string>
			<integer>2</integer>
			<string>forcewake.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Force Wave has a 50% chance to unbalance its targets, immobilizing them for 5 seconds. Damage dealt after 2 seconds ends the effect prematurely.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Force Wave has a 100% chance to unbalance its targets, immobilizing them for 5 seconds. Damage dealt after 2 seconds ends the effect prematurely.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Psychic Projection
</string>
			<integer>2</integer>
			<string>psychicprojection.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Weaken Mind critical hits have a 50% chance to grant Psychic Projection, causing your next Telekinetic Throw to channel and tick twice as fast. This effect cannot occur more than once every 10 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Weaken Mind critical hits have a 100% chance to grant Psychic Projection, causing your next Telekinetic Throw to channel and tick twice as fast. This effect cannot occur more than once every 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Telekinetic Wave
</string>
			<integer>1</integer>
			<string>telekineticwave.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 50, Cooldown: 6 seconds, Range: 30m
</string>
					<string>Sends a wave of telekinetic energy that deals (current weapon) kinetic damage to up to 5 targets within 8 meters of the primary target.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Blockout</string>
			<integer>2</integer>
			<string>blockout.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the cooldown of Force Lift by 7.5 seconds and increases the lockout duration of Mind Snap by 1 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the cooldown of Force Lift by 15 seconds and increases the lockout duration of Mind Snap by 2 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Kinetic Collapse
</string>
			<integer>2</integer>
			<string>kineticcollapse.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Your Force Armor has a 50% chance to explode in a concussive wave when it ends, incapacitating all nearby enemies for 3 seconds. Damage causes this effect to end prematurely.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Your Force Armor has a 100% chance to explode in a concussive wave when it ends, incapacitating all nearby enemies for 3 seconds. Damage causes this effect to end prematurely.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Telekinetic Effusion
</string>
			<integer>2</integer>
			<string>telekineticeffusion.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Force attacks that critically hit have a 50% chance to grant Telekinetic Effusion, lowering the Force cost of your next two Force abilities by 50%. Additionally reduces the cooldown of Force Speed by 5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Force attacks that critically hit have a 100% chance to grant Telekinetic Effusion, lowering the Force cost of your next two Force abilities by 50%. Additionally reduces the cooldown of Force Speed by 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Tidal Force
</string>
			<integer>1</integer>
			<string>tidalforce.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Your Disturbance has a 30% chance and your Forcequake has a 10% chance when dealing damage to grant Tidal Force, immediately finishing the cooldown on Telekinetic Wave and reducing the activation time of your next Telekinetic Wave by 100%. This effect cannot occur more than once every 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Mental Alacrity
</string>
			<integer>1</integer>
			<string>mentalalacrity.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 30, Cooldown: 120 seconds
</string>
					<string>Grants 20% alacrity for 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Telekinetic Momentum
</string>
			<integer>3</integer>
			<string>telekineticmomentum.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Disturbance or Telekinetic Wave, there is a 10% chance the ability will produce a second attack that strikes the same targets for 30% damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Disturbance or Telekinetic Wave, there is a 20% chance the ability will produce a second attack that strikes the same targets for 30% damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Disturbance or Telekinetic Wave, there is a 30% chance the ability will produce a second attack that strikes the same targets for 30% damage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Tremors</string>
			<integer>1</integer>
			<string>tremors.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Your Telekinetic Momentum causes tremors that increase your Force bonus damage by 1% for 30 seconds. Stacks up to 3 times.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Reverberation</string>
			<integer>5</integer>
			<string>reverberation.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of your Weaken Mind, Telekinetic Wave and Turbulence by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of your Weaken Mind, Telekinetic Wave and Turbulence by 20%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of your Weaken Mind, Telekinetic Wave and Turbulence by 30%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of your Weaken Mind, Telekinetic Wave and Turbulence by 40%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of your Weaken Mind, Telekinetic Wave and Turbulence by 50%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Turbulence</string>
			<integer>1</integer>
			<string>turbulence.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 45, Cooldown: 9 seconds, Range: 30m
</string>
					<string>Deals (current weapon) internal damage to a single target. Turbulence automatically critically hits targets affected by your Weaken Mind.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Balance (Damage)</key>
	<array>
		<array>
			<string>Will of the Jedi
</string>
			<integer>2</integer>
			<string>willofthejedi.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Willpower by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Willpower by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Jedi Resistance
</string>
			<integer>2</integer>
			<string>jediresistance.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 2%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Empowered Throw
</string>
			<integer>3</integer>
			<string>empoweredthrow.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Telekinetic Throw by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Telekinetic Throw by 8%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Telekinetic Throw by 12%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Critical Kinesis
</string>
			<integer>2</integer>
			<string>criticalkinesis.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Telekinetic Throw and Disturbance by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Telekinetic Throw and Disturbance by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Focused Insight
</string>
			<integer>2</integer>
			<string>focusedinsight.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Causes your periodic damaging abilities that critically hit to restore 0.5% of your total health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Causes your periodic damaging abilities that critically hit to restore 1% of your total health.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Upheaval</string>
			<integer>3</integer>
			<string>upheaval.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Project, you have a 15% chance to project an additional chunk of debris at the target, dealing 50% of normal damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Project, you have a 30% chance to project an additional chunk of debris at the target, dealing 50% of normal damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Project, you have a 45% chance to project an additional chunk of debris at the target, dealing 50% of normal damage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Pinning Resolve
</string>
			<integer>2</integer>
			<string>pinningresolve.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Force Stun by 5 seconds. In addition, your Force Lift affects up to 1 within 8 meters of the target.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Force Stun by 10 seconds. In addition, your Force Lift affects up to 2 within 8 meters of the target.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Telekinetic Balance
</string>
			<integer>1</integer>
			<string>telekineticbalance.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Telekinetic Throw no longer has a cooldown.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Psychic Barrier
</string>
			<integer>3</integer>
			<string>psychicbarrier.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Mind Crush and Telekinetic Throw by 25%. In addition, each time your Telekinetic Throw deals damage, you have a 33.334% chance to recover 1% of your total Force.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Mind Crush and Telekinetic Throw by 50%. In addition, each time your Telekinetic Throw deals damage, you have a 66.668% chance to recover 1% of your total Force.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Mind Crush and Telekinetic Throw by 75%. In addition, each time your Telekinetic Throw deals damage, you have a 100.002% chance to recover 1% of your total Force.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Force in Balance
</string>
			<integer>1</integer>
			<string>forceinbalance.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 50, Cooldown: 15 seconds, Range: 30m
</string>
					<string>Deals (current weapon) internal damage to up to 3 targets within 8 meters of the targeted area and heals you for ? per affected target.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Presence of Mind
</string>
			<integer>1</integer>
			<string>presenceofmind.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When your Telekinetic Throw deals damage, you have a 30% chance to cause your next Force-damaging attack with an activation time to activate instantly and deal 20% more damage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Mind Ward
</string>
			<integer>2</integer>
			<string>mindward.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the damage taken by all periodic effects by 7.5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the damage taken by all periodic effects by 15%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Containment</string>
			<integer>2</integer>
			<string>containment.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the activation time of Force Lift by 50%. In addition, when your Force Lift breaks early from damage, the target is stunned for 1.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the activation time of Force Lift by 100%. In addition, when your Force Lift breaks early from damage, the target is stunned for 2.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Assertion</string>
			<integer>2</integer>
			<string>assertion.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Mind Crush by 1 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Mind Crush by 2 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Drain Thoughts
</string>
			<integer>2</integer>
			<string>drainthoughts.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Weaken Mind by 7.5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Weaken Mind by 15%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Force Suppression
</string>
			<integer>1</integer>
			<string>forcesuppression.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Force in Balance now suppresses resistance to the Force, increasing the amount of damage the targets suffer from your next 10 periodic damaging abilities by 20%. Lasts 30 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Psychic Absorption
</string>
			<integer>2</integer>
			<string>psychicabsorption.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of healing generated by Force in Balance and Focused Insight by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of healing generated by Force in Balance and Focused Insight by 20%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Mental Scarring
</string>
			<integer>3</integer>
			<string>mentalscarring.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of Force in Balance and your periodic damage abilities by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of Force in Balance and your periodic damage abilities by 20%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of Force in Balance and your periodic damage abilities by 30%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Sever Force
</string>
			<integer>1</integer>
			<string>severforce.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 20, Cooldown: 9 seconds, Range: 30m
</string>
					<string>Weakens the target, freezing it in place for (current weapon) seconds and dealing 2 internal damage over 18 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
	</array>
</dict>
</plist>
