<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Corruption (Healing)</key>
	<array>
		<array/>
		<array>
			<string>Haunting Presence
</string>
			<integer>2</integer>
			<string>hauntingpresence.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Presence by 3% and all healing done by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Presence by 6% and all healing done by 2%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Seeping Darkness
</string>
			<integer>3</integer>
			<string>seepingdarkness.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the Force critical chance by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the Force critical chance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the Force critical chance by 3%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Dark Mending
</string>
			<integer>2</integer>
			<string>darkmending.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Dark Infusion by 0.25 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Dark Infusion by 0.5 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Force Suffusion
</string>
			<integer>2</integer>
			<string>forcesuffusion.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage and healing of area effect abilities by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage and healing of area effect abilities by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Empty Body
</string>
			<integer>2</integer>
			<string>emptybody.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 8%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lucidity</string>
			<integer>3</integer>
			<string>lucidity.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 25% and lowers the threat generated by healing abilities by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 50% and lowers the threat generated by healing abilities by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 75% and lowers the threat generated by healing abilities by 15%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Efficacious Currents
</string>
			<integer>2</integer>
			<string>efficaciouscurrents.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Static Barrier by 15 and reduces the cooldown of Static Barrier by 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Static Barrier by 30 and reduces the cooldown of Static Barrier by 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Dark Resilience
</string>
			<integer>2</integer>
			<string>darkresilience.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the health spent by Consumption by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the health spent by Consumption by 2%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Resurgence</string>
			<integer>1</integer>
			<string>resurgence.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 30, Cooldown: 6 seconds, Range: 30m
</string>
					<string>Immediately heals a target for 9, plus an additional ? over ? seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Force Bending
</string>
			<integer>2</integer>
			<string>forcebending.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Your Resurgence has a 50% chance to grant Force Bending, which increases the effect of your next healing ability:
Dark Heal: Force cost reduced by 50%.
Dark Infusion: Activation time reduced by 1 second.
Innervate: Critical chance increased by 25%.
Revivification: Force cost reduced by 30%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Your Resurgence has a 100% chance to grant Force Bending, which increases the effect of your next healing ability:
Dark Heal: Force cost reduced by 50%.
Dark Infusion: Activation time reduced by 1 second.
Innervate: Critical chance increased by 25%.
Revivification: Force cost reduced by 30%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Fadeout</string>
			<integer>2</integer>
			<string>fadeout.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Static Barrier increases the target&apos;s movement speed by 10% for 3 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Static Barrier increases the target&apos;s movement speed by 20% for 6 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Reconstruct</string>
			<integer>2</integer>
			<string>reconstruct.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Resurgence by 3 seconds. In addition, Resurgence has a 50% chance to increase the target&apos;s armor rating by 10% for the duration of Resurgence.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Resurgence by 6 seconds. In addition, Resurgence has a 100% chance to increase the target&apos;s armor rating by 10% for the duration of Resurgence.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sith Purity
</string>
			<integer>1</integer>
			<string>sithpurity.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the Force cost of Purge by 15. In addition, Purge now removes negative physical effects and heals the target for ?.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Life Surge
</string>
			<integer>2</integer>
			<string>lifesurge.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your Force critical chance by 1% and reduces all damage taken by ?%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your Force critical chance by 2% and reduces all damage taken by ?%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Innervate</string>
			<integer>1</integer>
			<string>innervate.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 40, Cooldown: 9 seconds, Range: 30m
</string>
					<string>Immediately heals a target for ? and a further ? per second for 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Conspiring Force
</string>
			<integer>2</integer>
			<string>conspiringforce.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Targets affected by your Affliction are slowed by 10% for its duration.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Targets affected by your Affliction are slowed by 20% for its duration.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Penetrating Darkness
</string>
			<integer>3</integer>
			<string>penetratingdarkness.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your bonus healing by 2% and chance to hit with all abilities by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your bonus healing by 4% and chance to hit with all abilities by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your bonus healing by 6% and chance to hit with all abilities by 3%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Force Surge
</string>
			<integer>2</integer>
			<string>forcesurge.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Innervate critical hits have a ?% chance to make the next Consumption activate without degenerating Force or consuming health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Innervate critical hits have a ?% chance to make the next Consumption activate without degenerating Force or consuming health.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Revivification</string>
			<integer>1</integer>
			<string>revivification.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 100, Cooldown: 15 seconds, Range: 30m
</string>
					<string>Heals all allies within 8 meters of the targeted area. Targets remaining in the area heal for an additional ? over ? seconds.</string>
				</array>
			</array>
		</array>
		<array/>
	</array>
	<key>Lightning (Damage)</key>
	<array>
		<array>
			<string>Convection</string>
			<integer>3</integer>
			<string>convection.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Lightning Strike, Crushing Darkness, Chain Lightning and Thundering Blast by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Lightning Strike, Crushing Darkness, Chain Lightning and Thundering Blast by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Lightning Strike, Crushing Darkness, Chain Lightning and Thundering Blast by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Reserves</string>
			<integer>2</integer>
			<string>reserves.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your total Force by 50.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases your total Force by 100.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Electric Induction
</string>
			<integer>3</integer>
			<string>electricinduction.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force attacks and healing abilities by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force attacks and healing abilities by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the Force cost of Force attacks and healing abilities by 9%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Lightning Barrier
</string>
			<integer>2</integer>
			<string>lightningbarrier.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount absorbed by your Static Barrier by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount absorbed by your Static Barrier by 20%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Subversion</string>
			<integer>2</integer>
			<string>subversion.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Lightning Strike, Chain Lightning and Thundering Blast by 35%. In addition, Lightning Strike has a 50% chance to increase your Force regeneration rate by 10% for 10 seconds. Stacks up to 3 times.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Lightning Strike, Chain Lightning and Thundering Blast by 70%. In addition, Lightning Strike has a 100% chance to increase your Force regeneration rate by 10% for 10 seconds. Stacks up to 3 times.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Exsanguinate</string>
			<integer>2</integer>
			<string>exsanguinate.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Affliction by 3 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Affliction by 6 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lightning Spire
</string>
			<integer>1</integer>
			<string>lightningspire.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the maximum range of Lightning Strike, Chain Lightning and Thundering Blast by 5 meters.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Electric Bindings
</string>
			<integer>2</integer>
			<string>electricbindings.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Overload has a 50% chance to bind its targets in electricity, immobilizing them for 5 seconds. Damage dealt after 2 seconds ends the effect prematurely.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Overload has a 100% chance to bind its targets in electricity, immobilizing them for 5 seconds. Damage dealt after 2 seconds ends the effect prematurely.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lightning Barrage
</string>
			<integer>2</integer>
			<string>lightningbarrage.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Affliction&apos;s critical hits have a 50% chance to grant Lightning Barrage, causing your next Force Lightning to channel and tick twice as fast. This effect cannot occur more than once every 10 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Affliction&apos;s critical hits have a 100% chance to grant Lightning Barrage, causing your next Force Lightning to channel and tick twice as fast. This effect cannot occur more than once every 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Chain Lightning
</string>
			<integer>1</integer>
			<string>chainlightning.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 50, Cooldown: 6 seconds, Range: 30m
</string>
					<string>Delivers an arc of lightning that deals (current weapon) damage to up to 5 targets within 8 meters.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Suppression</string>
			<integer>2</integer>
			<string>suppression.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the cooldown of Whirlwind by 7.5 seconds and increases the lockout duration of Jolt by 1 second.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the cooldown of Whirlwind by 15 seconds and increases the lockout duration of Jolt by 2 second.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Backlash</string>
			<integer>2</integer>
			<string>backlash.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Your Static Barrier has a 50% chance to erupt in a flash of light when it ends, blinding all nearby enemies for 3 seconds. Damage causes this effect to end prematurely.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Your Static Barrier has a 100% chance to erupt in a flash of light when it ends, blinding all nearby enemies for 3 seconds. Damage causes this effect to end prematurely.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lightning Effusion
</string>
			<integer>2</integer>
			<string>lightningeffusion.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Force attacks that critically hit have a 50% chance to grant Lightning Effusion, reducing the Force cost of your next two Force abilities by 50%. Additionally reduces the cooldown of Force Speed by 5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Force attacks that critically hit have a 100% chance to grant Lightning Effusion, reducing the Force cost of your next two Force abilities by 50%. Additionally reduces the cooldown of Force Speed by 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lightning Storm
</string>
			<integer>1</integer>
			<string>lightningstorm.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Your Lightning Strike has a 30% chance and your Force Storm has a 10% chance when dealing damage to cause a Lightning Storm, immediately finishing the cooldown on Chain Lightning and reducing the activation time of your next Chain Lightning by 100%. This effect cannot occur more than once every 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Polarity Shift
</string>
			<integer>1</integer>
			<string>polarityshift.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Cooldown: 120 seconds
</string>
					<string>Your connection to the Force shifts, granting 20% alacrity for 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Forked Lightning
</string>
			<integer>3</integer>
			<string>forkedlightning.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Lightning Strike or Chain Lightning, there is a 10% chance the ability will produce a second arc of lightning that strikes the same targets for 30% damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Lightning Strike or Chain Lightning, there is a 20% chance the ability will produce a second arc of lightning that strikes the same targets for 30% damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Lightning Strike or Chain Lightning, there is a 30% chance the ability will produce a second arc of lightning that strikes the same targets for 30% damage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Conduction</string>
			<integer>1</integer>
			<string>conduction.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Your Forked Lightning conducts the Force, increasing your Force bonus damage by 1% for 30 seconds. Stacks up to 3 times.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Reverberating Force
</string>
			<integer>5</integer>
			<string>reverberatingforce.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage dealt by Affliction, Chain Lightning and Thundering Blast by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage dealt by Affliction, Chain Lightning and Thundering Blast by 20%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage dealt by Affliction, Chain Lightning and Thundering Blast by 30%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage dealt by Affliction, Chain Lightning and Thundering Blast by 40%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage dealt by Affliction, Chain Lightning and Thundering Blast by 50%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Thundering Blast
</string>
			<integer>1</integer>
			<string>thunderingblast.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 45, Cooldown: 9 seconds, Range: 30m
</string>
					<string>Sends a thundering blastwave at a target that deals (current weapon) internal damage. Thundering Blast automatically critically hits targets affected by your Affliction.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Madness (Damage)</key>
	<array>
		<array>
			<string>Will of the Sith
</string>
			<integer>2</integer>
			<string>willofthesith.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Willpower by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Willpower by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sith Defiance
</string>
			<integer>2</integer>
			<string>sithdefiance.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 2%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Calcify</string>
			<integer>3</integer>
			<string>calcify.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Force Lightning by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Force Lightning by 8%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Force Lightning by 12%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Disintegration</string>
			<integer>2</integer>
			<string>disintegration.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Force Lightning and Lightning Strike by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Force Lightning and Lightning Strike by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Parasitism</string>
			<integer>2</integer>
			<string>parasitism.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Causes critical hits from periodic damage abilities to restore 0.5% of your total health.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Causes critical hits from periodic damage abilities to restore 1% of your total health.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Chain Shock
</string>
			<integer>3</integer>
			<string>chainshock.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Shock, you have a 15% chance to activate a second Shock, dealing 50% of normal damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Shock, you have a 30% chance to activate a second Shock, dealing 50% of normal damage.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you activate Shock, you have a 45% chance to activate a second Shock, dealing 50% of normal damage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Oppressing Force
</string>
			<integer>2</integer>
			<string>oppressingforce.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the cooldown of Electrocute by 5 seconds. In addition, your Whirlwind affects up to 1 within 8 meters of the target.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the cooldown of Electrocute by 10 seconds. In addition, your Whirlwind affects up to 2 within 8 meters of the target.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Madness</string>
			<integer>1</integer>
			<string>madness.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Force Lightning no longer has a cooldown.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sith Efficacy
</string>
			<integer>3</integer>
			<string>sithefficacy.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Crushing Darkness and Force Lightning by 25%. In addition, each time your Force Lightning deals damage, you have a 33.334% chance to recover 1% of your total Force.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Crushing Darkness and Force Lightning by 50%. In addition, each time your Force Lightning deals damage, you have a 66.668% chance to recover 1% of your total Force.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Crushing Darkness and Force Lightning by 75%. In addition, each time your Force Lightning deals damage, you have a 100.002% chance to recover 1% of your total Force.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Death Field
</string>
			<integer>1</integer>
			<string>deathfield.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 50, Cooldown: 15 seconds, Range: 30m
</string>
					<string>Creates a death field at the target location, dealing (current weapon) internal damage and stealing ? health from up to 3 targets within an 8-meter radius.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Wrath</string>
			<integer>1</integer>
			<string>wrath.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When your Force Lightning deals damage, you have a 30% chance to cause your next damaging Force attack with an activation time to activate instantly and deal 20% more damage.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Corrupted Flesh
</string>
			<integer>2</integer>
			<string>corruptedflesh.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the damage taken by all periodic effects by 7.5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the damage taken by all periodic effects by 15%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Haunted Dreams
</string>
			<integer>2</integer>
			<string>haunteddreams.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the activation time of Whirlwind by 50%. In addition, when your Whirlwind breaks early from damage, the target is stunned for 1.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Lowers the activation time of Whirlwind by 100%. In addition, when your Whirlwind breaks early from damage, the target is stunned for 2.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Lingering Nightmares
</string>
			<integer>2</integer>
			<string>lingeringnightmares.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Crushing Darkness by 1.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Crushing Darkness by 2.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Force Horrors
</string>
			<integer>2</integer>
			<string>forcehorrors.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Affliction by 7.5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Affliction by 15%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Deathmark</string>
			<integer>1</integer>
			<string>deathmark.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Death Field places a deathmark on affected targets, increasing the amount of damage the targets suffer from your next 10 periodic damaging abilities by 20%. Lasts 30 seconds.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Devour</string>
			<integer>2</integer>
			<string>devour.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of healing generated by Death Field and Parasitism by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of healing generated by Death Field and Parasitism by 20%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Creeping Death
</string>
			<integer>3</integer>
			<string>creepingdeath.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of Death Field and your periodic damage abilities by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of Death Field and your periodic damage abilities by 20%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical damage bonus of Death Field and your periodic damage abilities by 30%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Creeping Terror
</string>
			<integer>1</integer>
			<string>creepingterror.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Force: 20, Cooldown: 9 seconds, Range: 30m
</string>
					<string>Paralyzes the target in fear, immobilizing it for 2 seconds and dealing (current weapon) internal damage over 18 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
	</array>
</dict>
</plist>
