<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Combat Medic (Healing)</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>18</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>27</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Assault Specialist (Damage)</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>18</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>21</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Gunnery (Damage)</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>-1</integer>
		<integer>14</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>18</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
</dict>
</plist>
