<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Combat Medic (Healing)</key>
	<array>
		<array>
			<string>Field Training</string>
			<integer>3</integer>
			<string>field_training.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 2%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 4%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 6%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Quick Thinking</string>
			<integer>2</integer>
			<string>quick_thinking.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Medical Probe by 0.25 seconds and reduces the cooldown of Advanced Medical Probe by 1.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Medical Probe by 0.5 seconds and reduces the cooldown of Advanced Medical Probe by 3 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Cell Capacitor</string>
			<integer>2</integer>
			<string>cell_capacitor.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Recharge Cells now immediately recharges 1 additional cell.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Recharge Cells now immediately recharges 2 additional cell.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>First Responder</string>
			<integer>2</integer>
			<string>first_responder.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Critical results with damage and healing abilities have a 50% chance to grant First Responder, increasing alacrity by 5% for 6 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Critical results with damage and healing abilities have a 100% chance to grant First Responder, increasing alacrity by 5% for 6 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Supercharge Cells</string>
			<integer>1</integer>
			<string>supercharge_cells.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string></string>
					<string>Converts 30 charges of Combat Support Cell to supercharge you blaster, restoring 2 energy cells and increasing all damage and healing dealt by 10% for 10 seconds. While active, the following abilities gain Supercharge effects: Charged Bolts: Cost reduced by 2. Full Auto: Cost reduced by 1. Advanced Medical Probe: Cooldown reduced by 100%. Kolto Bomb: Places a shield on all targets reducing damage taken by 10% for 15 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Steady Hands</string>
			<integer>2</integer>
			<string>steady_hands.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 35% and reduces the threat generated by healing abilities by 5%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 70% and reduces the threat generated by healing abilities by 10%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Field Medicine</string>
			<integer>2</integer>
			<string>field_medicine.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing done by Medical Probe and Advanced Medical Probe by 3%. In addition, Medical Probe builds 3 charges of Combat Support Cell.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing done by Medical Probe and Advanced Medical Probe by 6%. In addition, Medical Probe builds 6 charges of Combat Support Cell.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Combat Shield</string>
			<integer>1</integer>
			<string>combat_shield.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reactive Shield now further decreases ability activation pushback by 30% and makes you immune to interrupts.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Kolto Bomb</string>
			<integer>1</integer>
			<string>kolto_bomb.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Range: 30m</string>
					<string>Lobs a kolto bomb at the target area, exploding on impact. Heals up to 3 allies within 8 meters of the targeted area for 95 - 206.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Kolto Residue</string>
			<integer>2</integer>
			<string>kolto_residue.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Kolto Bomb has a 50% chance to leave Kolto Residue on affected targets, increasing all healing received by 5% for 15 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Kolto Bomb has a 100% chance to leave Kolto Residue on affected targets, increasing all healing received by 5% for 15 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Efficient Conversions</string>
			<integer>1</integer>
			<string>efficient_conversions.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cost of Concussion Charge, Concussive Round and Cryo Grenade by 1.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Med Zone</string>
			<integer>2</integer>
			<string>med_zone.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase all healing received by 10% while Reactive Shield is active.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase all healing received by 20% while Reactive Shield is active.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Field Triage</string>
			<integer>3</integer>
			<string>field_triage.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Advanced Medical Probe has a 33.34% chance to reduce the cost of your next Medical Probe by 2.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Advanced Medical Probe has a 66.68% chance to reduce the cost of your next Medical Probe by 2.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Advanced Medical Probe has a 100% chance to reduce the cost of your next Medical Probe by 2.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Treated Wound Dressings</string>
			<integer>2</integer>
			<string>treated_wound_dressings.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 2% while Combat Support Cell is active.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 4% while Combat Support Cell is active.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Psych Aid</string>
			<integer>1</integer>
			<string>psych_aid.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cost of Field Aid by 1. In addition, Field Aid now removes negative mental effects.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Trauma Probe</string>
			<integer>1</integer>
			<string>trauma_probe.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Range: 30m</string>
					<string>Deploys a trauma probe with 10 charges that lasts 5 minutes. When the target is damaged, Trauma Probe loses 1 charge and heals the target for 61 - 72. This effect cannot occur more than once every 3 seconds. Only one trauma probe can be deployed at a time.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Preventative Medicine</string>
			<integer>2</integer>
			<string>preventative_medicine.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Advanced Medical Probe has a 50% chance to apply Preventative Medicine to the target, healing for an additional ? over 9 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Advanced Medical Probe has a 100% chance to apply Preventative Medicine to the target, healing for an additional ? over 9 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Armor Screen</string>
			<integer>1</integer>
			<string>armor_screen.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Preventative Medicine now also provides 10% armor while active.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Potent Medicine</string>
			<integer>5</integer>
			<string>potent_medicine.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the critical healing bonus of all heals by 3%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the critical healing bonus of all heals by 6%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the critical healing bonus of all heals by 9%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the critical healing bonus of all heals by 12%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the critical healing bonus of all heals by 15%.</string>
					<string></string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Bacta Infusion</string>
			<integer>1</integer>
			<string>bacta_infusion.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Cooldown: 21 seconds, Range: 30m</string>
					<string>Instantly heals a friendly target for 234 - 401.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Gunnery (Damage)</key>
	<array>
		<array>
			<string>Ironsights</string>
			<integer>3</integer>
			<string>ironsights.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Aim by 3%</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Aim by 6%</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Aim by 9%</string>
				</array>
			</array>
		</array>
		<array>
			<string>Advanced Tech</string>
			<integer>2</integer>
			<string>advanced_tech.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase healing received by 1% and all healing done by 1%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase healing received by 2% and all healing done by 2%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Havoc Rounds</string>
			<integer>2</integer>
			<string>havoc_rounds.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the damage dealt by all rounds and Charged Bolts by 3% and increases the healing dealt by Kolto Bomb by 10%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the damage dealt by all rounds and Charged Bolts by 6% and increases the healing dealt by Kolto Bomb by 20%.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Heavy Trooper</string>
			<integer>2</integer>
			<string>heavy_trooper.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Endurance by 1% and all healing received by 3%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Endurance by 2% and all healing received by 6%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Special Munitions</string>
			<integer>1</integer>
			<string>special_munitions.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the effect of your cells while they are active: Plasma Cell: Increases tech critical chance by 3%. Armor Piercing Cell: Reduces the cost of High Impact Bolt by 1. Combat Support Cell: Increases tech critical hit chance by 3%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Muzzle Fluting</string>
			<integer>1</integer>
			<string>muzzle_fluting.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cost of Charged Bolts and Grav Round by 1.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Steadied Aim</string>
			<integer>3</integer>
			<string>steadied_aim.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Charged Bolts, Concussive Round, Grav Round and Full Auto by 25%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Charged Bolts, Concussive Round, Grav Round and Full Auto by 50%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating Charged Bolts, Concussive Round, Grav Round and Full Auto by 75%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Deadly Cannon</string>
			<integer>2</integer>
			<string>deadly_cannon.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Full Auto and Demolition Round by 15%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Full Auto and Demolition Round by 30%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Grav Round</string>
			<integer>1</integer>
			<string>grav_round.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Ammo: 3, Range: 30m</string>
					<string>Fires a round that creates a gravity vortex on the target, dealing 1328 - 1495 kinetic damage, crushing the target&apos;s armor and reducing the armor raiting by 4% for 15 seconds. Stacks up to 5 times. Gravity vortices leave the target vulnerable to High Impact Bolt.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Concussive Force</string>
			<integer>2</integer>
			<string>concussive_force.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Stockstrike has a 50% chance to knock the target back several meters. In addition, Concussion Charge&apos;s Knockback effect is stronger and pushes enemies 2 meters further away.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Stockstrike has a 100% chance to knock the target back several meters. In addition, Concussion Charge&apos;s Knockback effect is stronger and pushes enemies 4 meters further away.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Charged Barrier</string>
			<integer>2</integer>
			<string>charged_barrier.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts and Grav Round have a 50% chance to build a Charged Barrier that reduces damage taken by 2% for 15 seconds. Stacks up to 5 times.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts and Grav Round have a 100% chance to build a Charged Barrier that reduces damage taken by 2% for 15 seconds. Stacks up to 5 times.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Cell Charger</string>
			<integer>2</integer>
			<string>cell_charger.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>While Armor-piercing Cell is active, critical hits with rounds and Full Auto have 50% chance to generate 1 energy cell. This effect cannot occur more than once every 3 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>While Armor-piercing Cell is active, critical hits with rounds and Full Auto have 100% chance to generate 1 energy cell. This effect cannot occur more than once every 3 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Gravity Surge</string>
			<integer>1</integer>
			<string>gravity_surge.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Grav Round now applies an additional gravity vortex.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Tenacious Defence</string>
			<integer>2</integer>
			<string>tenacious_defense.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Concussion Charge by 5 seconds and Tenacity by 15 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Concussion Charge by 10 seconds and Tenacity by 30 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Kolto Recharge</string>
			<integer>1</integer>
			<string>kolto_recharge.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Recharge Cells regenerates 7% of your maximum health over 10 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Charged Barrel</string>
			<integer>1</integer>
			<string>charged_barrel.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Grav Round grants Charged Barrel, increasing the damage dealt by the next High Impact Bolt by 6%. Stacks up to 5 times.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Rotary Cannon</string>
			<integer>1</integer>
			<string>rotary_cannon.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase the damage dealt by Full Auto by 33%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Cover Fire</string>
			<integer>2</integer>
			<string>cover_fire.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Full Auto has a 50% chance to slow the target&apos;s movement speed by 50% for 2 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Full Auto has a 100% chance to slow the target&apos;s movement speed by 50% for 2 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Reserve Round</string>
			<integer>2</integer>
			<string>reserve_round.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Concussive Round by 7.5 seconds and Reserve Powercell by 15 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Concussive Round by 15 seconds and Reserve Powercell by 30 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Curtain of Fire</string>
			<integer>3</integer>
			<string>curtain_of_fire.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts and Grav Round have a 10% chance to finish the cooldown on Full Auto and increase the damage dealt by the next Full Auto by 25%. This effect cannot occur more than once every 6 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts and Grav Round have a 20% chance to finish the cooldown on Full Auto and increase the damage dealt by the next Full Auto by 25%. This effect cannot occur more than once every 6 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts and Grav Round have a 30% chance to finish the cooldown on Full Auto and increase the damage dealt by the next Full Auto by 25%. This effect cannot occur more than once every 6 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Demolition Round</string>
			<integer>1</integer>
			<string>demolition_round.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Ammo: 2, Cooldown: 15 seconds, Range: 30m</string>
					<string>Fires a demolition round that explodes on contact, dealing (current weapon) kinetic damage. This damage is increased by 5% per gravity vortex on the target.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Assault Specialist (Damage)</key>
	<array>
		<array>
			<string>Soldiers Endurance</string>
			<integer>3</integer>
			<string>soldiers_endurance.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Endurance by 1%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Endurance by 2%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase Endurance by 3%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Weapon Calibrations</string>
			<integer>2</integer>
			<string>weapon_calibrations.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 2%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 4%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Target Lock</string>
			<integer>3</integer>
			<string>target_lock.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increase ranged and tech accuracy by 1%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase ranged and tech accuracy by 2%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increase ranged and tech accuracy by 3%.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Parallactic Combat Stims</string>
			<integer>2</integer>
			<string>parallactic_combat_stims.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>You have a 50% chance to recharge 1 energy cell when stunned, immobilized, knocked down or otherwise incapacitated.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>You have a 100% chance to recharge 1 energy cell when stunned, immobilized, knocked down or otherwise incapacitated.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sweltering Heat</string>
			<integer>2</integer>
			<string>sweltering_heat.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Plasma Cell has a 50% chance when it applies its effects to reduce the movement speed of the target by 50% for 2 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Plasma Cell has a 100% chance when it applies its effects to reduce the movement speed of the target by 100% for 2 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Superheated Plasma</string>
			<integer>3</integer>
			<string>superheated_plasma.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by the Plasma Cell by 10% and increases its chance to be triggered by 2%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by the Plasma Cell by 20% and increases its chance to be triggered by 4%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by the Plasma Cell by 30% and increases its chance to be triggered by 6%.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Nightvision Scope</string>
			<integer>2</integer>
			<string>nightvision_scope.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 1, melee and raged defense by 1% and reduces the cooldown of Stealth Scan by 2.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 2, melee and raged defense by 2% and reduces the cooldown of Stealth Scan by 5 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Incendiary Round</string>
			<integer>1</integer>
			<string>incendiary_round.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Ammo: 3, Range: 30m</string>
					<string>Launches an incendiary projectile, setting the target ablaze for (current weapon) elemental damage and an additional (current weapon) elemental damage over 18 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>High Friction Bolts</string>
			<integer>2</integer>
			<string>high_friction_bolts.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>High Impact Bolt ignores 15% of the target&apos;s armor. In addition, if High Impact Bolt hits a burning target, it has a 50% chance to generate 1 energy cell and refresh the duraction of you Plasma Cell&apos;s burn effect if present.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>High Impact Bolt ignores 30% of the target&apos;s armor. In addition, if High Impact Bolt hits a burning target, it has a 10% chance to generate 1 energy cell and refresh the duraction of you Plasma Cell&apos;s burn effect if present.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Degauss</string>
			<integer>2</integer>
			<string>degauss.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reactive Shield has a 50% chance to remove all movement-impairing effects when activated.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reactive Shield has a 100% chance to remove all movement-impairing effects when activated.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Ionic Accelerator</string>
			<integer>3</integer>
			<string>ionic_accelerator.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 10% chance and Full Auto has a 20% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 20% chance and Full Auto has a 40% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 30% chance and Full Auto has a 60% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Rapid Recharge</string>
			<integer>2</integer>
			<string>rapid_recharge.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Recharge Cells by 15 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Recharge Cells by 30 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Assult Trooper</string>
			<integer>2</integer>
			<string>assault_trooper.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Plasma Cell, High Impact Bolt, Incendiary Round and Assault Plastique by 15%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Plasma Cell, High Impact Bolt, Incendiary Round and Assault Plastique by 30%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Rain of Fire</string>
			<integer>3</integer>
			<string>rain_of_fire.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Hammer Shot, Charged Bolts, High Impact Bolt, Full Auto and hail of Bolts deal 3% additional damage to burning targets.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Hammer Shot, Charged Bolts, High Impact Bolt, Full Auto and hail of Bolts deal 6% additional damage to burning targets.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Hammer Shot, Charged Bolts, High Impact Bolt, Full Auto and hail of Bolts deal 9% additional damage to burning targets.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Reflexive Shield</string>
			<integer>2</integer>
			<string>reflexive_shield.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When you take damage, you have 50% chance to reduce the active cooldown of Reactive Shield by 1.5. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When you take damage, you have 100% chance to reduce the active cooldown of Reactive Shield by 3. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Burnout</string>
			<integer>3</integer>
			<string>burnout.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical chance by 1% and increases the damage dealt by periodic elemental effects by 10% on targets below 30% max health.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical chance by 2% and increases the damage dealt by periodic elemental effects by 20% on targets below 30% max health.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical chance by 3% and increases the damage dealt by periodic elemental effects by 30% on targets below 30% max health.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Adrenaline Fueled</string>
			<integer>2</integer>
			<string>adrenaline_fueled.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Critical hits have a 50% chance to reduce the active cooldown on Adrenaline Rush and Reserve Powercell by 3. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Critical hits have a 100% chance to reduce the active cooldown on Adrenaline Rush and Reserve Powercell by 6. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Assault Plastique</string>
			<integer>1</integer>
			<string>assault_plastique.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Ammo: 2, Cooldown: 15 seconds, Range: 30m</string>
					<string>Throws a moldable plastic explosive that sticks to the target and detonates after several seconds. Standard and weak enemies enter a state of panic while the explosive is active. The explosion deals (current weapon) kinectic damage when it detonates. Standard and weak targets are knocked back from teh blast. Shares a 15 second cooldown with Sticky Grenade.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
</dict>
</plist>
