<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sawbones (Healing)</key>
	<array>
		<array>
			<string>Bedside Manner</string>
			<integer>3</integer>
			<string>bedside_manner.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Cunning by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Cunning by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Cunning by 9%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Anatomy Lessons</string>
			<integer>2</integer>
			<string>anatomy_lessons.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Vital Shot, Dirty Kick and Tendon Blast by 2.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Vital Shot, Dirty Kick and Tendon Blast by 4.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Exploratory Surgery</string>
			<integer>2</integer>
			<string>exploratory_surgery.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Underworld Medicine by 0.25 seconds and gives Underworld Medicine a 50% chance to grant Upper Hand.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the activation time of Underworld Medicine by 0.5 seconds and gives Underworld Medicine a 100% chance to grant Upper Hand.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Scar Tissue</string>
			<integer>2</integer>
			<string>scar_tissue.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces all damage taken by 4%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Smuggled Technology</string>
			<integer>2</integer>
			<string>smuggled_technology.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 35%, and reduces the threat generated by heals by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the pushback suffered while activating healing abilities by 70%, and reduces the threat generated by heals by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Healing Hand</string>
			<integer>3</integer>
			<string>healing_hand.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing dealt by 1% at all times and an additional 2% while Upper Hand is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing dealt by 2% at all times and an additional 4% while Upper Hand is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing dealt by 3% at all times and an additional 6% while Upper Hand is active.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Keep Cool</string>
			<integer>2</integer>
			<string>keep_cool.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Cool Head now immediately restores 8 additional energy.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Cool Head now immediately restores 16 additional energy.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sedatives</string>
			<integer>2</integer>
			<string>sedatives.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When Tranquilizer wears off, the target is struck by Sedatives, reducing all damage dealt by 25% for the next 10 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>When Tranquilizer wears off, the target is struck by Sedatives, reducing all damage dealt by 50% for the next 10 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Slow-release Medpac</string>
			<integer>1</integer>
			<string>slow_release_medpac.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 15, Range: 30m
</string>
					<string>Injects the target with slow-release medicine that heals for 18 over ? seconds. Stacks up to 2 times.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Prognosis: Critical</string>
			<integer>2</integer>
			<string>prognosis_critical.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Diagnostic Scan by 12%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical chance of Diagnostic Scan by 24%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Scramble</string>
			<integer>2</integer>
			<string>scramble.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Dodge increases movement speed by 10% while active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Dodge increases movement speed by 20% while active.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Medpac Mastery</string>
			<integer>3</integer>
			<string>medpac_mastery.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Each tick of Slow-release Medpac has a 10% chance to grant Upper Hand. This effect cannot occur more than once every 9 seconds. Each rank beyond the first reduces this rate limit by 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Each tick of Slow-release Medpac has a 20% chance to grant Upper Hand. This effect cannot occur more than once every 9 seconds. Each rank beyond the first reduces this rate limit by 1.5 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Each tick of Slow-release Medpac has a 30% chance to grant Upper Hand. This effect cannot occur more than once every 9 seconds. Each rank beyond the first reduces this rate limit by 1.5 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Patient Studies</string>
			<integer>2</integer>
			<string>patient_studies.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Diagnostic Scan critical hits restore 1 energy.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Diagnostic Scan critical hits restore 2 energy.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Emergent Emergencies</string>
			<integer>1</integer>
			<string>emergent_emergencies.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing dealt by Emergency Medpac by 15%. In addition, Emergency Medpac immediately regrants Upper Hand when used on targets below 30% max health.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Emergency Medpac</string>
			<integer>1</integer>
			<string>emergency_medpac.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Range: 30m
</string>
					<string>Exploits Upper Hand to instantly heal the target for ?. Requires and consumes Upper Hand.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Homegrown Pharmacology</string>
			<integer>2</integer>
			<string>homegrown_pharmacology.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing dealt by periodic effects by 5% and Emergency Medpac by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the healing dealt by periodic effects by 10% and Emergency Medpac by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Psych Meds</string>
			<integer>1</integer>
			<string>psych_meds.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Triage now removes negative mental effects and heals the target for ?.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Accomplished Sawbones</string>
			<integer>3</integer>
			<string>accomplished_sawbones.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of Underworld Medicine, Kolto Pack and Kolto Cloud by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of Underworld Medicine, Kolto Pack and Kolto Cloud by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical healing bonus of Underworld Medicine, Kolto Pack and Kolto Cloud by 15%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Med Screen</string>
			<integer>2</integer>
			<string>med_screen.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 7.5% while Defense Screen is active.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing received by 15% while Defense Screen is active.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Kolto Cloud</string>
			<integer>1</integer>
			<string>rapid_fire.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 30, Cooldown: 12 seconds, Range: 30m
</string>
					<string>Heals up to 4 allies within 10 meters for 15 over ? seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Scrapper (Damage)</key>
	<array>
		<array/>
		<array>
			<string>Survivor&apos;s Scars</string>
			<integer>3</integer>
			<string>survivors_scars.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing done by 1% and all healing received by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing done by 2% and all healing received by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all healing done by 3% and all healing received by 9%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Browbeater</string>
			<integer>3</integer>
			<string>browbeater.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Vital Shot by 6% and Flechette Round by 3%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Vital Shot by 12% and Flechette Round by 6%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Vital Shot by 18% and Flechette Round by 9%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Element of Surprise</string>
			<integer>2</integer>
			<string>element_of_surprise.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical hit chance of Back Blast and Shoot First by 8%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical hit chance of Back Blast and Shoot First by 16%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Shifty-Eyed</string>
			<integer>2</integer>
			<string>shifty_eyed.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection level by 1 and defense by ?%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection level by 2 and defense by ?%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Brawler&apos;s Grit</string>
			<integer>3</integer>
			<string>brawlers_grit.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Endurance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Endurance by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases total Endurance by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Scrappy</string>
			<integer>2</integer>
			<string>scrappy.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Blaster Whip, Quick Shot and Back Blast by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Blaster Whip, Quick Shot and Back Blast by 4%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sneaky</string>
			<integer>3</integer>
			<string>sneaky.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases movement speed by 1% and effective stealth level by 5.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases movement speed by 2% and effective stealth level by 10.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases movement speed by 3% and effective stealth level by 15.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Surprise Comeback</string>
			<integer>1</integer>
			<string>surprise_comeback.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Pugnacity now additionally grants Surprise Comeback, restoring 2% of total health every 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Flying Fists</string>
			<integer>2</integer>
			<string>flying_fists.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Sucker Punch has a 25% chance to trigger Flying Fists, dealing (current weapon) additional kinetic damage. This effect cannot occur more than once every 10 seconds. Standard and weak targets are additionally stunned by Flying Fists.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Sucker Punch has a 50% chance to trigger Flying Fists, dealing (current weapon) additional kinetic damage. This effect cannot occur more than once every 10 seconds. Standard and weak targets are additionally stunned by Flying Fists.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sucker Punch</string>
			<integer>1</integer>
			<string>sucker_punch.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 15, Range: 4m
</string>
					<string>Exploits Upper Hand to sucker punch the target for (current weapon) kinetic damage. Requires and consumes Upper Hand.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Sawed Off</string>
			<integer>1</integer>
			<string>sawed_off.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the energy cost of Back Blast by 2 and Flechette Round by 10.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Round Two</string>
			<integer>2</integer>
			<string>round_two.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Flying Fists has a 50% chance to immediately regrant Upper Hand when hitting a bleeding target.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Flying Fists has a 100% chance to immediately regrant Upper Hand when hitting a bleeding target.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Stopping Power</string>
			<integer>2</integer>
			<string>stopping_power.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Tendon Blast has a 50% chance to immobilize the target for 2 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Tendon Blast has a 100% chance to immobilize the target for 2 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Fight or Flight</string>
			<integer>1</integer>
			<string>fight_or_flight.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Dodging or resisting an attack restores 1 energy. In addition, Disappearing Act no longer reduces healing dealt and received.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Flee the Scene</string>
			<integer>2</integer>
			<string>flee_the_scene.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Disappearing Act by 30 seconds, and activating Disappearing Act increases movement speed by 25% for 6 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Disappearing Act by 60 seconds, and activating Disappearing Act increases movement speed by 50% for 6 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Turn the Tables</string>
			<integer>3</integer>
			<string>turn_the_tables.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all damage dealt to bleeding targets by 1%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all damage dealt to bleeding targets by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases all damage dealt to bleeding targets by 3%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>K.O.</string>
			<integer>2</integer>
			<string>ko.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Shoot First has a 50% chance to knock the target flat on its face for 3 seconds.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Shoot First has a 100% chance to knock the target flat on its face for 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Underdog</string>
			<integer>3</integer>
			<string>underdog.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of energy recovered by each tick of Pugnacity by 0.5. Increases the critical damage dealt by all scattergun attacks by 10%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of energy recovered by each tick of Pugnacity by 1. Increases the critical damage dealt by all scattergun attacks by 20%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the amount of energy recovered by each tick of Pugnacity by 1.5. Increases the critical damage dealt by all scattergun attacks by 30%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Flechette Round</string>
			<integer>1</integer>
			<string>flechette_round.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Energy: 15, Cooldown: 1.5 seconds
</string>
					<string>Loads a flechette round, causing your next Shoot First or Back Blast to deal an additional (current weapon) internal damage over 6 seconds and increase armor penetration by 50% for 15 seconds. This ability does not respect the global cooldown and does not break stealth.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
	<key>Dirty Fighting (Damage)</key>
	<array>
		<array>
			<string>Holdout Defense</string>
			<integer>2</integer>
			<string>holdout_defense.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Blaster Whip by 5%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by Blaster Whip by 10%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>No Holds Barred</string>
			<integer>3</integer>
			<string>no_holds_barred.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 4%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases ranged and tech critical chance by 6%.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Black Market Mods</string>
			<integer>2</integer>
			<string>black_market_mods.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 2%.
</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases alacrity by 4%.
</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Open Wound</string>
			<integer>1</integer>
			<string>open_wound.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the duration of Vital Shot by 3 seconds.
</string>
				</array>
			</array>
		</array>
		<array>
			<string>Mortal Wound</string>
			<integer>2</integer>
			<string>mortal_wound.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Plasma Cell has a 50% chance when it applies its effects to reduce the movement speed of the target by 50% for 2 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Plasma Cell has a 100% chance when it applies its effects to reduce the movement speed of the target by 100% for 2 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Flash Poweder</string>
			<integer>2</integer>
			<string>flash_powder.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by the Plasma Cell by 20% and increases its chance to be triggered by 4%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the damage dealt by the Plasma Cell by 30% and increases its chance to be triggered by 6%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Dirty Escape</string>
			<integer>2</integer>
			<string>dirty_escape.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 1, melee and raged defense by 1% and reduces the cooldown of Stealth Scan by 2.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 2, melee and raged defense by 2% and reduces the cooldown of Stealth Scan by 5 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Cheap Shots</string>
			<integer>2</integer>
			<string>cheap_shots.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 1, melee and raged defense by 1% and reduces the cooldown of Stealth Scan by 2.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases stealth detection by 2, melee and raged defense by 2% and reduces the cooldown of Stealth Scan by 5 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Street Tough</string>
			<integer>2</integer>
			<string>street_tough.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Ammo: 3, Range: 30m</string>
					<string>Launches an incendiary projectile, setting the target ablaze for (current weapon) elemental damage and an additional (current weapon) elemental damage over 18 seconds.</string>
				</array>
				<array>
					<string>Instant</string>
					<string>Ammo: 3, Range: 30m</string>
					<string>Launches an incendiary projectile, setting the target ablaze for (current weapon) elemental damage and an additional (current weapon) elemental damage over 18 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Shrap Bomb</string>
			<integer>1</integer>
			<string>shrap_bomb.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>High Impact Bolt ignores 30% of the target&apos;s armor. In addition, if High Impact Bolt hits a burning target, it has a 10% chance to generate 1 energy cell and refresh the duraction of you Plasma Cell&apos;s burn effect if present.</string>
				</array>
			</array>
		</array>
		<array/>
		<array>
			<string>Black Market Equipment</string>
			<integer>3</integer>
			<string>black_market_equipment.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 10% chance and Full Auto has a 20% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 20% chance and Full Auto has a 40% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 30% chance and Full Auto has a 60% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Quick Getaway</string>
			<integer>2</integer>
			<string>quick_getaway.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 20% chance and Full Auto has a 40% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Charged Bolts has a 30% chance and Full Auto has a 60% chance to finish the cooldown on High Impact Bolt and make the next High Impact Bolt free.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Feelin&apos; Woozy</string>
			<integer>2</integer>
			<string>feelin_woozy.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Recharge Cells by 15 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Reduces the cooldown of Recharge Cells by 30 seconds.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Fighting Spirit</string>
			<integer>2</integer>
			<string>fighting_spirit.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Plasma Cell, High Impact Bolt, Incendiary Round and Assault Plastique by 15%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Plasma Cell, High Impact Bolt, Incendiary Round and Assault Plastique by 30%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Dirty Trickster</string>
			<integer>2</integer>
			<string>dirty_trickster.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Plasma Cell, High Impact Bolt, Incendiary Round and Assault Plastique by 15%.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases the critical bonus damage of Plasma Cell, High Impact Bolt, Incendiary Round and Assault Plastique by 30%.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Rough and Tumble</string>
			<integer>2</integer>
			<string>rough_and_tumble.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Hammer Shot, Charged Bolts, High Impact Bolt, Full Auto and hail of Bolts deal 6% additional damage to burning targets.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Hammer Shot, Charged Bolts, High Impact Bolt, Full Auto and hail of Bolts deal 9% additional damage to burning targets.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Wounding Shots</string>
			<integer>1</integer>
			<string>wounding_shots.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>When you take damage, you have 100% chance to reduce the active cooldown of Reactive Shield by 3. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Smuggled Defenses</string>
			<integer>2</integer>
			<string>smuggled_defenses.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical chance by 2% and increases the damage dealt by periodic elemental effects by 20% on targets below 30% max health.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Increases tech critical chance by 3% and increases the damage dealt by periodic elemental effects by 30% on targets below 30% max health.</string>
				</array>
			</array>
		</array>
		<array>
			<string>Cold Blooded</string>
			<integer>3</integer>
			<string>cold_blooded.png</string>
			<array>
				<array>
					<string></string>
					<string></string>
					<string>Critical hits have a 50% chance to reduce the active cooldown on Adrenaline Rush and Reserve Powercell by 3. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Critical hits have a 50% chance to reduce the active cooldown on Adrenaline Rush and Reserve Powercell by 3. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
				<array>
					<string></string>
					<string></string>
					<string>Critical hits have a 100% chance to reduce the active cooldown on Adrenaline Rush and Reserve Powercell by 6. This effect cannot occur more than once every 1.5 seconds.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
		<array>
			<string>Hemorrhaging Blast</string>
			<integer>1</integer>
			<string>hemorrhaging_blast.png</string>
			<array>
				<array>
					<string>Instant</string>
					<string>Ammo: 2, Cooldown: 15 seconds, Range: 30m</string>
					<string>Throws a moldable plastic explosive that sticks to the target and detonates after several seconds. Standard and weak enemies enter a state of panic while the explosive is active. The explosion deals (current weapon) kinectic damage when it detonates. Standard and weak targets are knocked back from teh blast. Shares a 15 second cooldown with Sticky Grenade.</string>
				</array>
			</array>
		</array>
		<array/>
		<array/>
	</array>
</dict>
</plist>
