<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kinetic Combat (Defense)</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>10</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Infiltration (Damage)</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>10</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>13</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>17</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>27</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Balance (Damage)</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>17</integer>
		<integer>9</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>19</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>17</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
</dict>
</plist>
